.root {
  margin-top: 50px;
}
.headingWhite {
  font-size: 2.75em;
  line-height: 1.1;
  color: white;
}
.headingBlack {
  font-size: 2.75em;
  line-height: 1.1;
  color: black;
}
.headingBlackSmall {
  font-size: 1.75em;
  line-height: 1.1;
  color: black;
}
.headingBlackXtraSmall {
  font-size: 1.15em;
  line-height: 1.1;
  color: black;
}
.headingWhiteXtraSmall {
  font-size: 1.2em;
  line-height: 1.1;
  font-weight: 100;
  font-family: "Roboto";
  line-height: 1.375em;
  color: white;
}
.hidden {
  display: none;
}
.center {
  text-align: center;
}
